@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #F5F5F5;
    background-image: url('/wood-texture.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    @apply text-wood-900;
  }
}